<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse" title="more options">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Hospital</a>           
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="Programs/List">Programs</a></li>
                    <li><a href="Services/List">Services</a></li>
                    <li><a href="Careers/List">Careers</a></li>
                    <li><a href="Volunteers/List">Volunteers</a></li>
                    <li><a href="Departments/List">Departments</a></li>
                    <li><a href="Staffs/List">Staff</a></li>
                    <li><a href="Patients/List">Patients</a></li>
                    <li><a href="Appointments/List">Appointments</a></li>
                    <li><a href="Donations/List">Donations</a></li>
                    <li><a href="FAQs/List">FAQ</a></li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - HTTP5212 Hospital Project</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
