@model IEnumerable<HospitalProject2.Models.CareersDto>
@{
    ViewBag.Title = "List";
}

<h2>Careers List</h2>
<a class="add_btn" href="/Careers/New">Add New Job information</a>

<table id="CareersTb">
    <tr>
        <th>Job Id:</th>
        <th>Department Id:</th>
        <th>Job title:</th>
        <th>Category:</th>
        <th>Job Type:</th>
        <th>Posting Date:</th>
        <th>Closing Date:</th>
        <th>Read More</th>
    </tr>
    @foreach (var Careers in Model)
    {
        <tr>
            <td>@Careers.job_id</td>
            <td>@Careers.department_id @Careers.name</td>
            <td>@Careers.title</td>
            <td>@Careers.category</td>
            <td>@Careers.job_type</td>
            <td>@Careers.posting_date.ToString("yyyy-MMM-dd")</td>
            <td>@Careers.closing_date.ToString("yyyy-MMM-dd")</td>
            <td><a class="details_btn" href="/Careers/Details/@Careers.job_id"> Details </a></td>
        </tr>

    }

</table>

